@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    font-family: 'Pretendard';
    color: #fff;
}

body {
    min-height: 100vh;
    width: 100%;
    /* background-image: url("../image/name.jpg"); */
    background-size: cover;
    background-position: center;
    background-color: gray;
}

/* 공통 스타일 */
.content {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

/* PC 화면 
   화면 너비가 769px 이상일 때 적용.*/
@media screen and (min-width: 769px) {
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #0000007a;
        border: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        padding: 30px 35px;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

/* 모바일 화면 
   화면 너비가 768px 이하일 때 적용.*/
@media screen and (max-width: 768px) {
    .content {
        /* 모바일에서는 화면 중앙에 고정하는 대신 적절한 여백을 줌 */
        position: fixed; 
        top: 50%;
        left: 50%;
        transform: translate( -50%, -60%);
        margin: 50px auto; /* 상하 여백 50px, 좌우 자동 중앙 */
        width: 90%; /* 화면의 90% 차지 */
        max-width: 400px; /* 아무리 커져도 400px 제한 */
        padding: 40px 20px;
        background: #0000007a;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
}

.content h2 {
    font-style: 38px;
    font-weight: 700;
    text-align: center;
}

.content .input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 30px 0;
}

.content .input-box input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
}

input::placeholder {
    color: #fff;
    font-size: 16px;
}

.input-box span {
    margin-left: 10px;
    margin-bottom: 3px;
    display: inline-block;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.content .remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0 16px;
}

.remember label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember a {
    color: #fff;
}

.btnn {
    display: inline-block;
    background: #fff;
    color: #0a2862;
    width: 100%;
    height: 45px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 16px 0 30px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.button a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


.button a i {
    font-size: 15px;
    margin-right: 8px;
}

.button a:hover {
    opacity: 0.8;
}


input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}


input::-ms-reveal,
input::-ms-clear {
    display: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-contacts-auto-fill-button {
    display: none !important;
    visibility: hidden !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}