body {
    margin: 0;
    font-family: Arial;
    overflow: hidden;
}

.slider-bg {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 1.5%;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background: #000;
}

.slider-container {
    height: 26%;
    width: 90%;
    overflow: hidden;
}

.slider-track {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.5%;
}

.slider-track img {
    width: 15%;
    object-fit: scale-down;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .slider-track img {
        width: 25%;
        object-fit: scale-down;
        border-radius: 10px;
    }
}